<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Elva Bakery</title>

    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/personalizadas.css">
</head>

<body>

    <main class="personalizadas-page">

        <!-- VOLVER -->
        <a href="index.html" class="back-button">
            ← Inicio
        </a>

        <!-- HEADER -->
        <header class="personalizadas-header">

            <h1>Personalizá tu torta</h1>

            <p>
                Elegí una opción para comenzar
            </p>

        </header>


        <!-- OPCIONES -->
        <section class="personalizadas-options">

            <!-- TORTAS YA HECHAS -->
            <a href="tortas-personalizadas.html" class="personalizada-option">

                <div class="option-content">

                    <h2>Tortas</h2>

                    <p>
                        Mirá algunas de las tortas personalizadas
                        que ya hicimos.
                    </p>

                </div>

                <span class="arrow">→</span>

            </a>


            <!-- CREAR TORTA -->
            <a href="crear-torta.html" class="personalizada-option">

                <div class="option-content">

                    <h2>Creá tu torta</h2>

                    <p>
                        Elegí el tamaño, los rellenos y armá
                        tu torta a tu gusto.
                    </p>

                </div>

                <span class="arrow">→</span>

            </a>

        </section>

    </main>

    <script src="../static/js/footer.js"></script>

</body>
</html>