<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Elva Bakery | Tortas</title>

    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/tortas.css">
</head>

<body>

    <main class="tortas-page">

        <header class="tortas-header">

            <a href="index.html" class="back-button">
                ← Inicio
            </a>

            <h1>Tortas</h1>

            <p>
                Elegí tu favorita
            </p>

        </header>


        <section class="tortas-grid">

            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/tortas/chocotortaPinterest.jpeg"
                         alt="Torta de chocolate">
                </div>

                <div class="torta-info">
                    <h2>Chocotorta</h2>
                    <p>Chocolinas, dulce de leche y crema.</p>
                    <span class="price">$45.000</span>

                    <button
                        class="whatsapp-button"
                        data-torta="Chocotorta"
                    >
                        Encargar
                    </button>
                </div>

            </article>


            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/tortas/oreoPinterest.png"
                         alt="Torta Oreo">
                </div>

                <div class="torta-info">
                    <h2>Torta Oreo</h2>
                    <p>Oreo, dulce de leche y crema.</p>
                    <span class="price">$45.000</span>
                    <button
                        class="whatsapp-button"
                        data-torta="Torta Oreo"
                    >
                        Encargar
                    </button>
                </div>

            </article>


            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/tortas/chocoOreoPinterest.jpeg"
                         alt="Torta de frutillas">
                </div>

                <div class="torta-info">
                    <h2>Choco Oreo</h2>
                    <p>Oreos con crema de dulce de leche</p>
                    <span class="price">$43.500</span>
                    <button
                        class="whatsapp-button"
                        data-torta="Choco Oreo"
                    >
                        Encargar
                    </button>
                </div>

            </article>


            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/tortas/maicenaPinterest.jpeg"
                         alt="Maicena">
                </div>

                <div class="torta-info">
                    <h2>Maicena</h2>
                    <p>Transformamos el clasico alfajor en tu torta favorita. 
                        Maicena, mucho dulce de leche y coco</p>
                    <span class="price">$35.000</span>
                    <button
                        class="whatsapp-button"
                        data-torta="Torta Maicena"
                    >
                        Encargar
                    </button>
                </div>

            </article>

            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/tortas/pavlovaPinterest.jpeg"
                         alt="Pavlova">
                </div>

                <div class="torta-info">
                    <h2>Pavlova</h2>
                    <p>Base de merengue, dulce de leche, crema chantilly y frutos rojos</p>
                    <span class="price">$35.000</span>
                    <button
                        class="whatsapp-button"
                        data-torta="Pavlova"
                    >
                        Encargar
                    </button>
                </div>

            </article>

            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/tortas/brownieDDLPinterest.jpeg"
                         alt="Brownie">
                </div>

                <div class="torta-info">
                    <h2>Brownie </h2>
                    <p>Base de Brownie con dulce de leche y crema chantilly o merengue <br> (o ambas!)</p>
                    <span class="price">$35.000</span>
                    <button
                        class="whatsapp-button"
                        data-torta="Brownie, dulce de leche y crema chantilly"
                    >
                        Encargar
                    </button>
                </div>

            </article>

            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/tortas/rogel.jpeg"
                         alt="Brownie">
                </div>

                <div class="torta-info">
                    <h2>Rogel </h2>
                    <p>Torta rogel con mucho dulce de lece y merengue</p>
                    <span class="price">$55.000</span>
                    <button
                        class="whatsapp-button"
                        data-torta="Rogel"
                    >
                        Encargar
                    </button>
                </div>

            </article>

            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/tortas/tortaQuaker.jpeg"
                         alt="turron aleman">
                </div>

                <div class="torta-info">
                    <h2>Turron Aleman </h2>
                    <p>clasico turron aleman con topping de bombones de quaker</p>
                    <span class="price">$30.000</span>
                    <button
                        class="whatsapp-button"
                        data-torta="Turron aleman"
                    >
                        Encargar
                    </button>
                </div>

            </article>

        </section>

    </main>

    <script src="../static/js/tortas.js"></script>
    <script src="../static/js/footer.js"></script>


</body>

</html>