<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Elva Bakery | Tortas</title>

    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/tortas.css">
</head>

<body>

    <main class="tortas-page">

        <header class="tortas-header">

            <a href="personalizadas.html" class="back-button">
                ← Volver
            </a>

            <h1>Tortas</h1>

            <p>
                Algunas de las elegidas por ustedes!!
            </p>

        </header>


        <section class="tortas-grid">

            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/personalizadas/letraE.jpeg"
                         alt="Torta de chocolate">
                </div>

                <div class="torta-info">
                    <h2>Letter Cake - Letra E</h2>
                    <p>Chocolinas, dulce de leche y crema + 
                        Deco de corazones rosados y blancos hechos con chocolate blanco</p>
                   <!-- <span class="price">$45.000</span> -->
                </div>

            </article>


            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/personalizadas/letraT.jpeg"
                         alt="Torta Oreo">
                </div>

                <div class="torta-info">
                    <h2>Letter Cake - Letra T</h2>
                    <p>Chocolinas, dulce de leche y crema + 
                        Deco de patitos rosados y celestes hechos con chocolate blanco y mucho amor para un baby shower</p>
                    <!--<span class="price">$45.000</span>-->
                </div>

            </article>


            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/personalizadas/personalizadaCorazones.jpeg"
                         alt="Torta corazones">
                </div>

                <div class="torta-info">
                    <h2>Torta Corazones</h2>
                    <p>Torta de bizcochuelo rellena con dulce de leche, 
                        crema chantilly y merenguitos, pedido especial para una cumpleañera</p>
                    <!--<span class="price">$43.500</span>-->
                </div>

            </article>


            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/personalizadas/persoOso.jpeg"
                         alt="Torta Oso">
                </div>

                <div class="torta-info">
                    <h2>Torta Oso</h2>
                    <p>TTorta de bizcochuelo rellena con dulce de leche, 
                        crema chantilly y merenguitos, pedido especial para una cumpleañera</p>
                    <!--<span class="price">$35.000</span>-->
                </div>

            </article>

            <article class="torta-card">

                <div class="torta-image">
                    <img src="../static/img/personalizadas/letraM_brownie.jpeg"
                         alt="Letra M">
                </div>

                <div class="torta-info">
                    <h2>Letter Cake - Letra M</h2>
                    <p>Brownie, mucho dulce de leche, crema chantilly y deco para un cumpleaños de 30</p>
                    <!--<span class="price">$35.000</span>-->
                </div>

            </article>


        </section>

    </main>

    <script src="../static/js/tortas.js"></script>
    <script src="../static/js/footer.js"></script>

</body>

</html>